.chips-list-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.chips-list-div h3 {
  margin-top: 0;
}

.chips-list-div img {
  width: 25vw;
  height: 20vw;
  margin: 10px;
}

.chips-img:hover {
  transform: scale(1.1);
  border: 5px solid black;
}

img {
  width: 100%;
  height: 100%;
}
