
/* ChipList Styling */
#chips-div-heading {
  background-color: red;
  color: white;
  margin-top: 0;
  margin-bottom: 3vh; 
  padding-bottom: 2vh;
}


.chips-list-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.chips-list-div h3 {
  margin-top: 0;
  margin-left: 25px;
}

.chips-list-div img {
  width: 25vw;
  height: 20vw;
  margin: 10px;
}

.chips-img:hover {
  transform: scale(1.1);
  border: 5px solid black;
}

img {
  width: 100%;
  height: 100%;
  justify-content: center;
}

#view-chips-text1 {
  animation: showup 7s infinite;
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

#view-chips-text2 {
  width:0px;
  animation: reveal 7s infinite;
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

#view-chips-text2  span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

h1, h2, h3 {
  font-family: 'Maven Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Single Chip List Styling */

.single-chip {
  display: flex;
}

#single-chip-image {
  /* border: 4px solid orange; */
  width: 50%;
  /* height: 70%; */
  /* margin: auto; */
  margin-top: 0vh;
  text-align: center;
}

#single-chip-image-div img {
  width: 25vw;
  height: 25vh;
  padding: 5vh 0 5vh 5vh;
}

#single-chip-image-div {
  display: flex;
  justify-content: left;
}

#single-chip-ratings {
  margin-left: 10%;
}

.single-chip-review {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}