body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
/* HEADER */


.header {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between; 
}

header h1 {
  margin-left: 10px;
}


/* ChipList Styling */
a {
  color: inherit;
}

a:visited  {
  color: inherit;
}
#cover-img {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

#cover-img-h2 {
  color: black;
  position: absolute;
  top: 77%;
  left: 45%;
}

#arrow-down {
  color: white;
  font-size: 4em;
  position: absolute;
  top: 85%;
  left: 48%;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.material-icons {
  margin-top: 1vh;
  margin-left: 1vh;
  font-size: 2.5em;
}

.bounce {
  animation-name: bounce;
}

#chips-div-heading {
  background-color: red;
  color: white;
  margin-top: 0;
  margin-bottom: 3vh; 
  padding-bottom: 2vh;
}


.chips-list-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.chips-list-div h3 {
  margin-top: 0;
  margin-left: 25px;
}

.chips-list-div img {
  width: 25vw;
  height: 20vw;
  margin: 10px;
}

.chips-img:hover {
  transform: scale(1.1);
  border: 5px solid black;
}

img {
  width: 100%;
  height: 100%;
  justify-content: center;
}

#view-chips-text1 {
  animation: showup 7s infinite;
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

#view-chips-text2 {
  width:0px;
  animation: reveal 7s infinite;
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

#view-chips-text2  span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

h1, h2, h3 {
  font-family: 'Maven Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Single Chip List Styling */

.sc {
  display: flex;
  justify-content: space-evenly;
}



/* Image Flip on Single Cip Page  */
#sc-image {
  background-color: transparent;
  width: 50vh;
  height: 50vh;
  perspective: 1000px;
  text-align: center;
  margin-top: 0vh;
}

#sc-image-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.0s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#sc-image:hover #sc-image-inner {
  transform: rotateY(180deg);
}

#sc-image-front, #sc-image-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#sc-image-front {
  background-color: #bbb;
  color: black;
}

#sc-image-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

#sc-ratings {
  margin-left: 10%;
}

#sc-categories {
  /* margin-top: 50% */
}

.user-review-title {
  text-align: center;
}
.sc-all-reviews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  font-family: 'Maven Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

#sc-each-review {
  border: aqua;
  border-style: dashed;
  border-radius: 5px;
  color: green;
}

.textarea {

    width: 25%;
    height: 15vh;
    padding: 10px;
    /* margin: 10px; */
    box-sizing: border-box;
    resize: none;
    border-radius: 6px;
    opacity: 0.6;
    cursor: unset;

}

/* Button  */

button {
  background: greenyellow;
  color: black;
  font-family: Sans-serif;
  font-size: 15px;
  height: 50px;
  width: 150px;
  line-height: 50px;
  /* line-height changes where text is in buttom */
  margin: 5px 5px;
  /* margin moves where the button is on screen */
  text-align: center;
  border: 3px solid black;
  border-radius: 15px;
  transition: all 0.5s ease 0s;
  }
  
  button:hover{
    color: greenyellow;
    background-color: black;
    transition-timing-function: ease-in-out;
    transition: .5s;
    border: 3px solid greenyellow;
  }

  #login-shape {
    display: flex
  }

  #logout-button {
    height: 50px;
    width: 75px;
    line-height: 50px;
    background: forestgreen
  }

  #logout-button:hover{
    color: forestgreen;
    background-color: black;
    transition-timing-function: ease-in-out;
    transition: .5s;
    border: 3px solid forestgreen;
  }
  